{% extends 'main/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content%}
<div class="features">
  <h1>Новости</h1>
  {% if news %}
    {% for el in news %}
      <div class="alert alert-warning">
        <h3>{{el.title}}</h3>
        <p>{{el.anons}}</p>
        <a href="{% url 'newsdetail' el.id %}" class="btn btn-warning">Читать</a>
      </div>
    {% endfor %}
  {% else %}
    <p>Новостей нет!</p>
  {% endif %}

  {# Комментарий #}
</div>
{% endblock %}